.dropdown-wrraper
    ul.dropdown-menu
        li.dropdown-menu__col
          .nav-grid.nav-grid--four
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") All categories
              p.dd-para Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") Services for hotels
              p.dd-para Sed ut perspiciatis unde omnis accusantium
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") Complaint registry and resolutions
              p.dd-para Sed ut perspiciatis unde omnis iste natus error sit.
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") Tourism permits
              p.dd-para Sed ut accusantium.
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") Services for event organizers
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") Holiday home services
              p.dd-para Sed ut perspiciatis unde omnis iste natus  accusantium.
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") Tourism permits
              p.dd-para Sed ut omnis iste natus error sit voluptatem accusantium.
            .nav-grid__list
              a.link-chevron(href="javascript:void(0)") Other services
              p.dd-para Sed ut perspiciatis voluptatem accusantium.
        li.dropdown-menu__col.dropdown-menu__banner
            .dd-img-placeholder
                a(href='index.html')
                    img.dd-img-placeholder__img(alt="DTCM" title="DTCM" src=`${baseUrl}asset/image/banners/banner.jpg`)
            a.dd-link(href="javascript:void(0);") Banner link
