@font-face {
  font-family: $font-regular;
  src: url(#{$baseUrl}asset/font/DubaiFont/DubaiW23-Regular.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}


@font-face {
  font-family: $font-medium;
  src: url(#{$baseUrl}asset/font/DubaiFont/DubaiW23-Medium.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: $font-bold;
  src: url(#{$baseUrl}asset/font/DubaiFont/DubaiW23-Bold.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}

/*
@font-face {
  font-family: $font-os-bold;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../font/OpenSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-os-regular;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../font/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-os-semi-bold;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../font/OpenSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-os-light;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../font/OpenSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'icomoon';
  src: url(#{$baseUrl}asset/font/IcoMoon/icomoon.woff) format('woff');  
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change font */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-align: center;
  font-size:14px;
  &:hover {
    text-decoration: none
  }
}
