.icon-pause:before {
  content: "\e901";
  color: #0067b9;
}
.icon-user1:before {
  content: "\e900";
  color: #0067b9;
}
.icon-play:before {
  content: "\e902";
  color: #0067b9;
}
.icon-chevron-down:before {
  content: "\e903";
  color: #0067b9;
}
.icon-globe:before {
  content: "\e904";
  color: #757575;
}
.icon-search:before {
  content: "\e905";
  color: #757575;
}
.icon-user:before {
  content: "\e906";
  color: #0067b9;
}
.icon-search1:before {
  content: "\e907";
  color: #0067b9;
}
.icon-white-arrow-right:before {
  content: "\e908";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e909";
  color: #0067b9;
}
