.dt-navigation {
  padding: 10px 0;
  margin: 0;
  @include tablet-medium {
    display: none;
    position: absolute;
    width: 100vw;
    left: calc(-100vw / 2 + 100% / 2);
    margin-left: 0;
    margin-top: 30px;
    z-index: 2;
    background: white;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
  }
  &__list {
    display: inline-block;
    margin-right: 42px;
    @include tablet-medium {
      width: 100%;
      padding: 8px 25px;
    }
    &:hover {
      .dt-nav-link {
        color: #0067b9;
        &:before {
          display: block;
        }
        &:after {
          transform-origin: top;
          transform: translateY(50%) rotate(180deg);
        }
      }
      .dropdown-wrraper {
        display: block;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.has-dropdown .dt-nav-link {
  &:after {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 6px;
    //content: '';
    //background:url(../common/images/header/chevron-down.svg) 0 0 no-repeat;
    content: "\e903";
    color: #0067b9;
    width: 9px;
    height: 6px;
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
    @include tablet-medium {
      right: 30px;
    }
  }
}

.dt-nav-link {
  color: #505050;
  font-family: $font-medium;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  @include tablet-medium {
    font-size: 18px;
  }
  &:hover,
  &.active {
    color: #0067b9;
    text-decoration: none;
  }
  &:before {
    content: "";
    display: none;
    height: 160%;
    width: 125%;
    position: absolute;
    top: 0;
    z-index: 11;
  }
}

.dt-nav-wrapper {
  position: static;
}
