.dt-breadcrumbs-section {
  @include mobile-landscape {
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    height: 48px;
  }
  background-color: #f7f7f7;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .container {
    width: 100%;
  }
  .dt-breadcrumbs {
    a {
      color: #505050;
      font-size: 16px;
      font-family: $font-medium;
      display: inline-block;
      position: relative;
      margin-right: 55px;
      @include mobile-landscape {
        padding-left: 14px;
        margin-right: 14px;
      }
      &:after {
        //background: url($base + 'chevron-right.svg') 0 0 no-repeat;
        background: url(../common/images/chevron-right.svg) 0 0 no-repeat;
        content: '';
        width: 6px;
        height: 10px;
        position: absolute;
        top: 7px;
        right: -30px;

        @include mobile-landscape {
          width: 10px;
          height: 6px;
          left: 0;
          right: auto;
          background: url(../common/images/svg/chevron-down.svg) 0 0 no-repeat;
          transform: rotate(90deg);
          transform-origin: 50% 50%;
          top: 8px;
        }
      }
      &:last-child {
        margin-right: 0;
        pointer-events: none;
        &:after {
          display: none;
        }
        @include mobile-landscape {
          display: none;
        }
      }
      &:hover, &.active {
        color: #0067B9;
        text-decoration: none;
      }
      @include mobile-landscape {
        color: #0067B9;
      }
    }
  }
}


