.dt-search-box {
  display: flex;
  align-items: center;
  margin-right: 10px;
  a {
    display: inline-block;
    //text-indent: -9999px;
    width: 18px;
    height: 20px;
    position: relative;
    font-size: 18px;
    .icon {
      font-size: 18px;
    }
  }
}

.icon-search {
  &:hover::before {
    color: #0067b9;
  }
}
