.dt-main-header,
.header-bottom-nav-wrapper {
  background: #fff;
}

.dt-main-header {
  margin-bottom: 64px;

  &.has-sticky {
    margin-bottom: 0;
  }
}

.header-bottom-nav-wrapper {
  position: absolute;
  top: 36px;
  z-index: 99;
  width: 100%;
}

.horizontal-separator {
  border-bottom: solid 1px #f5f5f5;
  &--gap {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.dt-header-tr-links {
  a {
    color: #757575;
    font-family: $font-medium;
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
    .icon {
      font-size: 18px;
      vertical-align: sub;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &.active {
      color: #0067b9;
      text-decoration: none;
      .icon-globe:before {
        color: #0067b9;
      }
    }
  }
  img,
  .icon {
    margin-right: 9px;
  }
}

.default-gap-tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
@import "dt-brand";
@import "dt-breadcrumbs";
@import "dt-navigation";
@import "dt-top-links";
@import "dt-search-box";
@import "subcategories/subcategories";
