.dt-footer-sitemap-link {
  float: left;
  font-family: $font-regular;
  @include mobile-landscape {
    margin-bottom: 3px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 24px;
      @include mobile-landscape {
        margin: 0 12px;
      }
      a {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        &:hover {
          color: #FFFFFF;
          opacity: 0.699999988079071;
          text-decoration: none;
        }
      }
    }
  }
}