.dt-download-app-footer {
  display: none;
  background-color: #FFFFFF;
  margin: 0 -25px;
  float: left;
  width: calc(100% + 50px);
  @include mobile-landscape {
    display: block;
    .brand {
      display: inline;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      float: left;
      width: 50%;
      vertical-align: top;
      text-align: center;
      border-left: solid 1px #E1E1E1;
      padding: 25px;
      &:first-child {
        border-left: none;
      }
      a {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
        font-family: $font-medium;
        color: #757575;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}