.dt-footer-link {
  margin-bottom: 40px;
  font-family: $font-regular;
  @include mobile-landscape {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    li {
      text-align: left;
      margin-bottom: 8px;
      a {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        &:hover {
          color: #FFFFFF;
          opacity: 0.699999988079071;
          text-decoration: none;
        }
      }
    }
  }
  > ul > li {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 20px);
    margin-left: 20px;
    margin-bottom: 0;
    @include mobile-landscape {
      width: 100%;
      margin: 0;
      border-bottom: solid 1px rgba(255, 255, 255, .15);
      padding: 25px;
      &.active {
        h4 {
          background: url("../images/svg/chevron-white-up.svg") center right no-repeat;
        }
      }
    }
    ul {
      @include mobile-landscape {
        display: none;
      }
      li {
        @include mobile-landscape {
          margin: 0;
          padding: 10px;
          padding-bottom: 0;
          a {
            font-size: 18px;
          }
        }
      }
    }
    h4 {
      color: #FFFFFF;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      font-family: $font-bold;
      margin-bottom: 8px;
      @include mobile-landscape {
        font-family: $font-regular;
        font-size: 20px;
        margin-bottom: 0;
        background: url("../images/svg/chevron-white.svg") center right no-repeat;
      }
    }
  }
}