footer
  .container
    .row
      .col-md-8
        .dt-footer-link
          ul
            li
              h4 Popular links
              ul
                li
                  a(href='javascript:void(0);') About us
                li
                  a(href='javascript:void(0);') Our services
                li
                  a(href='careers.html') Careers
                li
                  a(href='special-newsroom.html') Newsroom
            li
              h4 Contact us
              ul
                li
                  a(href='javascript:void(0);') Contacts for residents
                li
                  a(href='javascript:void(0);') Contact for press
                li
                  a(href='javascript:void(0);') Feedback
            li
              h4 Related sites
              ul
                li
                  a(href='javascript:void(0);') Dubai for tourism
                li
                  a(href='javascript:void(0);') Dubai for business
                li
                  a(href='javascript:void(0);') Travel trade
                li
                  a(href='javascript:void(0);') [External link]
                li
                  a(href='javascript:void(0);') [Dubai festival]
      .col-md-4
        .row
          .col-md-12
            img.brand.lazy-img(src=`${baseUrl}asset/image/logos/brand-white.svg` alt='brand' title='DTCM')
            data
        .row
          .col-md-12
            .dt-footer-social
              ul
                li
                  a(href='javascript:void(0);')
                    img.brand.lazy-img(src=`${baseUrl}asset/image/icons/footer-fb-icon.svg` alt='FB' title='DTCM-FB')
                li
                  a(href='javascript:void(0);')
                    img.brand.lazy-img(src=`${baseUrl}asset/image/icons/footer-insta-icon.svg` alt='IS' title='DTCM-Insta')
                li
                  a(href='javascript:void(0);')
                    img.brand.lazy-img(src=`${baseUrl}asset/image/icons/footer-tw-icon.svg` alt='TW' title='DTCM-TW')
                li
                  a(href='javascript:void(0);')
                    img.brand.lazy-img(src=`${baseUrl}asset/image/icons/footer-ta-icon.svg` alt='TA' title='DTCM-TA')
                li
                  a(href='javascript:void(0);')
                    img.brand.lazy-img(src=`${baseUrl}asset/image/icons/footer-yt-icon.svg` alt='YT' title='DTCM-YT')
      .col-md-12
        .dt-footer-bottom-container
          .dt-footer-copy-text
            p
              | Copyright &copy;2019. All rights reserved
          .dt-footer-sitemap-link
            ul
              li
                a(href='javascript:void(0);') Sitemap
              li
                a(href='javascript:void(0);') Privacy
              li
                a(href='javascript:void(0);') Terms
        .dt-download-app-footer
          ul
            li
              img.brand.lazy-img(src=`${baseUrl}asset/image/icons/brand-blue.svg`  alt='brand' title='DTCM')
              a(href='javascript:void(0);') Official app
            li              
              img.brand.lazy-img(src=`${baseUrl}asset/image/icons/brand-red.svg`  alt='brand' title='DTCM')
              a(href='javascript:void(0);') Calendar app