footer {
  padding-top: 40px;
  background-color: #0067B9;
  overflow: hidden;
  .dt-footer-bottom-container {
    padding: 16px 0;
    float: left;
    width: 100%;
    position: relative;
    border-top: solid 1px rgba(255, 255, 255, 0.2000000029802322);
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      width: 50%;
      height: 1px;
      top: -1px;
      left: -50%;
      background-color: #FFFFFF;
      opacity: 0.2000000029802322;
    }
    &:after {
      left: auto;
      right: -50%;
    }
   
  }
  .container > .row {
    flex-direction: row-reverse;
  }
  
}
@import "dt-footer-brand";
@import "dt-footer-copy-text";
@import "dt-footer-link";
@import "dt-footer-sitemap-link";
@import "dt-footer-social";
@import "dt-footer-download-app";
@import "dt-back-to-top";