doctype html
html(lang="en")
  head
    title DTCM POS
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no')
    link(rel='shortcut icon' href=`${baseUrl}asset/image/favicon.ico` type='image/x-icon')



    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` embed)
    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)      
  body      
    include _component/header/header
    include _component/footer/footer
